.*.swp
*.html

CMakeCache.txt
CMakeFiles/*
Makefile
cmake_install.cmake
*.dir

.vs/
.vscode/

lexer.c
parser.[ch]
tiger

*.exe
*.exe.stackdump

*.sln
*.sdf
*.VC.opendb
*.vcproj
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
Debug
Release
